<div *ngIf="pokemon; else loading" class="card-pokemon">
  <div>
    <h1>{{ pokemon.name | titlecase }}</h1>
    <img [src]="pokemon.sprites?.front_default" [alt]="pokemon.name">
  </div>
  <div>
    <p><strong>Weight:</strong> {{ pokemon.weight }}</p>
    <p><strong>Height:</strong> {{ pokemon.height }}</p>
    <p><strong>Experiencia Base:</strong> {{ pokemon.base_experience }}</p>
    <h3>Habilidades:</h3>
    <ul>
      <li *ngFor="let ability of pokemon.abilities">
        <a [href]="ability.ability.url" target="_blank">{{ ability.ability.name
          |
          titlecase }}</a>
        <span *ngIf="ability.is_hidden">(Oculta)</span>
      </li>
    </ul>
    <div *ngFor="let stats of pokemon.stats" class="card-pokemon_stats">
      <p>{{stats.stat.name}}:</p>
      <p>{{stats.base_stat}}</p>
    </div>
    <button (click)="goBack()">⬅️ Volver a la lista</button>
  </div>
</div>
<ng-template #loading>
  <p>Cargando datos...</p>
</ng-template>
