/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url("assets/img/backgrounds/74crvhb3vyn61.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: red;
        border-radius: 10px;
    }

    font-family: "Press Start 2P",
    serif;

}