

<div class="pokemon">
  <h2>Lista de Pokémon</h2>

  <div class="pokemon-list">
    <a [routerLink]="['/pokemon', pokemon.name]" class="pokemon-card"
      *ngFor="let pokemon of pokemons" [attr.attr-url]="pokemon.url">
      <!-- Mostrar la imagen cuando esté disponible -->
      <img *ngIf="pokemon.image" [src]="pokemon.image" [alt]="pokemon.name">
      <h3>{{ pokemon.name | titlecase }}</h3>
    </a>
  </div>

  <!-- Botones de paginación -->
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="!prev">⬅️</button>
    <button (click)="nextPage()" [disabled]="!next">➡️</button>
  </div>
</div>