.pokemon {
    max-width: 1200px;
    margin: auto;

    &-list {
        display: grid;
        height: 80vh;
        overflow: scroll;
        overflow-x: hidden;
        background: transparent;
        backdrop-filter: blur(40px);
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
        border: 2px solid #A0B4B4;
        box-shadow: 0 0 10px #A0B4B4;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);

        }

        .pokemon-card {
            text-decoration: none;
            color: black;
            text-shadow: 3px 3px 0px #A0B4B4;


            h3 {
                text-align: center;
                color: var(--white);

            }

            img {
                display: flex;
                margin: auto;

            }

            &.active {
                img {
                    animation: scale-active 1s infinite;
                }
            }

            &:hover {
                cursor: pointer;

                h3 {
                    color: #A0B4B4;
                    text-shadow: 0 0 5px #A0B4B4;
                }

                img {
                    animation: scale-active 0.5s infinite;
                }
            }
        }
    }

    .pagination {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 30px;

        button {
            color: white;
            background: transparent;
            border: none;
            font-size: 20px;
        }

    }
}


@keyframes scale-active {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.6);
    }

}